@page "/posts/{slug}"
@inject IBlogPostService BlogPostService

<h3>@CurrentPost?.Title</h3>

<p>
    @CurrentPost?.Content
</p>

@code {
    [Parameter]
    public string Slug { get; set; } = string.Empty;

    private BlogPost? CurrentPost;

    protected override void OnInitialized()
    {
        CurrentPost = BlogPostService.GetBlogPost(Slug);
    }
}
