@page "/posts/{slug}"
@inject IBlogPostService BlogPostService

@if (CurrentPost == null)
{
    <p>Loading...</p>
}
else {
    <h3>@CurrentPost.Title</h3>

    <p>
        @CurrentPost.Content
    </p>
}

@code {
    [Parameter]
    public string Slug { get; set; } = string.Empty;

    private BlogPost? CurrentPost;

    protected override async Task OnInitializedAsync()
    {
        CurrentPost = await BlogPostService.GetBlogPost(Slug);
    }
}
