@inject IBlogPostService BlogPostSerivce

<h3>BlogPosts</h3>

@if (Posts == null)
{
    <p>@Message</p>    
}
else
{   
    @foreach (var post in Posts)
    {
        <div>
            @if (post.CoverImage != null)
            {
                <p><img src="@post.CoverImage" alt="Cover Image" width="200" /></p>
            }
            <p>@post.Title</p>
            <p>@post.Description</p>
            <p><a href="/posts/@post.Slug">Read more...</a></p>
        </div>    
    }
}

@code {
    private string Message = "Loading...";
    private List<BlogPost>? Posts;

    protected override async Task OnInitializedAsync()
    {
        Posts = await BlogPostSerivce.GetBlogPosts();

        if (Posts == null)
        {
            Message = "Could not loading posts";
        }
    }
}
