@inject IBlogPostService BlogPostSerivce

<h3>BlogPosts</h3>

@foreach (var post in Posts)
{
    <div>
        <p>@post.Title</p>
        <p>@post.Description</p>
        <p><a href="/posts/@post.Slug">Read more...</a></p>
    </div>    
}

@code {
    private List<BlogPost> Posts = new List<BlogPost>();

    protected override async Task OnInitializedAsync()
    {
        var posts = await BlogPostSerivce.GetBlogPosts();

        if (posts != null)
        {
            Posts = posts;
        }
    }
}
