@page "/admin/create"
@inject IBlogPostService BlogPostService
@inject NavigationManager NavigationManager

<h3>Create A New Blog Post</h3>

<EditForm Model="@newBlogPost" OnValidSubmit="CreateNewBlogPost">
    <DataAnnotationsValidator />
    <div>
        <label for="title">Title</label>
        <InputText id="title" @bind-Value="newBlogPost.Title" />
        <ValidationMessage For="@(() => newBlogPost.Title)" />
    </div>
    <div>
        <label for="slug">Slug</label>
        <InputText id="slug" @bind-Value="newBlogPost.Slug" />
        <ValidationMessage For="@(() => newBlogPost.Slug)" />
    </div>
    <div>
        <label for="author">Author</label>
        <InputText id="author" @bind-Value="newBlogPost.Author" />
    </div>
    <div>
        <label for="description">Description</label>
        <InputText id="description" @bind-Value="newBlogPost.Description" />
    </div>
    <div>
        <label for="date-published">Date Published</label>
        <InputDate id="date-published" @bind-Value="newBlogPost.DatePublished" />
    </div>
    <div>
        <InputCheckbox id="is-published" @bind-Value="newBlogPost.IsPublished" />
        <label for="is-published">Published?</label>
    </div>
    <div>
        <label for="cover-image">Cover Image</label>
        <InputFile id="cover-image" OnChange="OnFileChange" />
    </div>
    <div>
        <label for="content">Content</label>
        <BlogTextArea id="content" @bind-Value="newBlogPost.Content" />
    </div>
    <div>
        <label for="content-preview">Content Preview</label>
        <div id="content-preview" style="height: 100%;">@((MarkupString) Markdown.ToHtml(newBlogPost.Content))</div>
    </div>
    <button type="submit">Create</button>
    <ValidationSummary />
</EditForm>


@code {
    private BlogPost newBlogPost = new BlogPost();

    private async Task CreateNewBlogPost()
    {
        var createdPost = await BlogPostService.CreatBlogPost(newBlogPost);

        if (createdPost != null)
        {
            NavigationManager.NavigateTo($"posts/{createdPost.Slug}");
        }
    }

    private async Task OnFileChange(InputFileChangeEventArgs e) 
    {
        var format = "image/png";
        var resizedImage = await e.File.RequestImageFileAsync(format, 300, 300);
        var buffer = new byte[resizedImage.Size];
        await resizedImage.OpenReadStream().ReadAsync(buffer);
        var imageData = $"data:{format};base64,{Convert.ToBase64String(buffer)}";
        newBlogPost.CoverImage = imageData;
    }
}
